body, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

input[type="submit"], button {
    margin-top: 1rem;
}

.userP {
    border: 1px solid black;
    width: 250px;
    padding: 0 10px 10px 10px;
    margin: 10px auto;
}

#delete-id {
    width: 250px;
    margin-bottom: 1rem;
}

#delete-submit {
    margin-bottom: 2rem;
}